@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

table {
    border-spacing: 0;
    border-collapse: collapse;
    background-color: transparent;
}

tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}

tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}

td {
    display: table-cell;
    vertical-align: inherit;
}

a{
   text-decoration: none;
}


#contents_area_full {
    padding: 0 0 20px 0;
    margin:20px auto;
    background: #fff; 
}

/*상단명*/

.s_list_ea {
    /*border-bottom: 1px solid #e6e7e8;*/
    font-size: 15px;
    padding: 6px 4px 12px;
    /* margin: 14px 30px 0; */
}

.s_list_ea.tit {
    font-size: 25px;
    padding: 0.5em 0;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: normal;
}

.s_list_ea.tit span {
    font-size: 16px;
    color: #666;
    font-weight: normal;
}

/* 상단 카테고리 */

.rcp_m_cate {
    position: relative;
}

#id_search_category table {
   width:100%;
   background: rgba(230, 235, 237, 0.25);
   border-top: solid 1px rgba(210, 215, 217, 0.75);
   border-bottom: solid 1px rgba(210, 215, 217, 0.75);
}

.rcp_m_cate table th {
    text-align: center;
    vertical-align: top;
    border-right: 1px solid #e6e7e8;
    /* border-bottom: 1px solid #e6e7e8; */
    width: 81px;
}
.rcp_m_cate table tr:first-child th {
    padding-top:20px
}
.rcp_m_cate table th span {
    color: #ff9000;
    display: block;
    font-weight: 500;
    margin: 0 5px 0 0;
    text-align: center;
    padding-top: 6px;
    vertical-align: middle;
    font-size: 15px;
    height: 41px;
    width: 100%;
    padding-top: 12px;
}

.rcp_m_cate table tr:first-child td {
    padding-bottom:0
}
.rcp_m_cate table tr:last-child td {
    padding-top:0
}
.rcp_m_cate table td .rcp_cate.st3 {
    padding: 15px 15px 0;
}
.rcp_m_cate table tr:last-child td .rcp_cate.st3 {
    padding: 0 15px 15px;
}
.rcp_cate {
    margin-top: 2px;
    border: 1px solid #e6e7e8;
    border-bottom: none;
    background: url(//recipe1.ezmember.co.kr/img/cate_btm.gif?v.) bottom left repeat-x;
    background-color: #fff;
    padding: 15px 30px 28px;
}

.rcp_cate.st3 {
    background: #fff;
    padding: 16px 15px 0 12px;
    vertical-align: top;
    margin-top: 0;
    border-right: none;
    border-left: none;
    border-top: none;
}

.rcp_cate .cate_list {
    font-size: 15px;
    padding: 8px 0;
    line-height: 1;
    /* height: 41px; */
    position: relative;
    padding-left: 46px;
}

.rcp_cate .cate_list a {
    padding: 3px 8px 4px;
    color: #666;
    vertical-align: middle;
    font-size: 15px;
    line-height: 1;
    font-weight: 300;
    display: inline-block;
}

.rcp_cate .cate_list a.active {
    color: #fff;
    background: #ff9000;
    margin: 0;
    border-radius: 16px;
    position: absolute;
    left: 0;
    top: 8px;
}

/* 카테고리 버튼 */

.rcp_cate_btn {
    border-bottom: 1px solid #e6e7e8;
    text-align: center;
}

.rcp_cate_btn a {
    color: #ff9000;
    font-size: 14px;
    padding: 12px 50px;
    display: inline-block;
}

.rcp_cate_btn a span {
    padding-left: 5px;
}

.rcp_cate_btn a span img {
    margin-top: -1px;
    vertical-align: middle;
}



/* 레시피 */

   /* 제목*/
   .rcp_m_list2 .m_list_tit {
       font-size: 16px;
       color: #333;
       padding: 5px 0 20px 8px;
   }
   
   .rcp_m_list2 .m_list_tit b {
       color: #ff9000;
       font-size: 23px;
   }
   
   /*최신순/조회순*/
   .pull-right {
       float: right;
   }
   
   .nav-tabs2 {
       border: 1px solid #e0e0e0;
       padding-bottom: 1px;
       font-size: 15px;
   }
   
   .nav>li {
       position: relative;
       display: block;
       padding-left:0;
   }
   
   .nav>li>a {
       position: relative;
       display: block;
       padding: 10px 19px;
   }

   .nav-tabs2>li {
       float: left;
       margin-bottom: -1px;
       background: #fff;
       border-right: 1px solid #e0e0e0;
       color: #999;
       margin-left:0;
   }

   .nav-tabs2>li>a {
       line-height: 1.42857143;
       border: 1px solid transparent;
       padding: 6px 22px;
   }
   
   .nav-tabs2>li.active>a, .nav-tabs2>li.active>a:focus, .nav-tabs2>li.active>a:hover {
       cursor: default;
       background-color: #ff9000;
       border-bottom-color: transparent;
       color: #fff;
   }
   
   
   
   /* 앨범 게시판 */
   
   #imgsize{
      width: 282px;
      height: 282px;
   }
   .common_sp_list_ul {
       margin: 0;
       vertical-align: top;
   }
   
   .common_sp_list_ul.ea4 li {
       /* width: 282px; */
       
      width:22%; 
   }
   
   .common_sp_list_li {
       list-style: none;
       padding: 0;
       /*margin: 0 12px 40px 0;*/
       margin:15px;
       display: inline-block;
       vertical-align: top;
       position: relative;
    }
    
      /*이미지*/
      .common_sp_thumb {
       width:282px;
       height:282px;
       
       border-radius: 4px;       
       overflow: hidden;   
       
       
       
   }
   
   .common_sp_thumb img {
      
      
      height: 100%;
      width:auto;
      overflow: hidden;
   }
   
   
   .common_sp_caption_rv_name img {
       width: 40px;
       height: 40px;
       border-radius: 50%;
       margin: 0 4px -2px 0;
       vertical-align: text-bottom;
       
   }
   /* 동영상 */
   .common_vod_label {
       position: absolute;
       right: 10px;
       bottom: 10px;
       z-index: 10;
   }

   
   /* 글 */
   .common_sp_caption {
         padding: 10px 2px;
   }
   
   .common_sp_caption_tit {
       margin: 0 0 6px 0;
       color: #000;
       text-align: left;
       font-size: 15px;
   }
   
   .common_sp_caption_tit.line2 {
       overflow: hidden;
       text-overflow: ellipsis;
       display: -webkit-box;
       -webkit-line-clamp: 2;
       -webkit-box-orient: vertical;
       word-wrap: break-word;
       white-space: normal;
       line-height: 1.5;
   }
   
   .common_sp_caption_tit.rv {
       font-weight: normal;
       font-family: 'Noto Sans KR', sans-serif;
       font-size: 1.1em;
   }
   
   common_sp_caption_tit
   /* 작성자 */
   .common_sp_caption_rv_name {
       color: #999;
       text-overflow: ellipsis;
       white-space: nowrap;
       overflow: hidden;
       font-size: 14px;
       vertical-align: 0;
       padding: 0 1px 7px 0;
       font-weight: 300;
   }
   
   /* 별점 */
   .common_sp_caption_rv {
       vertical-align: super;
       line-height: 1;
       margin: 0 0 9px 0;
   }
   
   .common_sp_caption_rv_star {
       vertical-align: 1px;
   }
   
   .common_sp_caption_rv_star img {
       width: 14px;
       margin-right: 1px;
       margin: 0;
   }
   
   .common_sp_caption_rv_ea {
       color: #999;
       text-overflow: ellipsis;
       white-space: nowrap;
       overflow: hidden;
       font-size: 12px;
       vertical-align: middle;
       padding-left: 1px;
       line-height: normal;
       font-weight: 300;
   }
   
   /* 조회수 */
   .common_sp_caption_buyer {
       color: #999;
       font-size: 13px;
       margin-left: 2px;
       font-weight: 300;
   }
      
      
/* 페이징 */
.text-center {
    text-align: center;
    margin-top:50px;
    border-top:1px solid #dedede;
    padding-top:10px;
    clear: both;
}

.pagination {
    display: inline-block;
    padding-left: 0;
    margin: 30px 0;
    border-radius: 0;
}

.pagination>li {
    display: inline;
}

.pagination li a{
   padding:9px 15px;
   border:1px solid #e6e7e8   
}

.active a {
    z-index: 2;
    color: #fff;
    cursor: default;
    background-color: #FF9000;
    border-color: #e6e7e8;
}